<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Pedido-Entregas</title>
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
			integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" 
			crossorigin="anonymous">
	</head>
	<body>
		<nav th:replace="menu-nav :: menuNavegacion"></nav>
		<div class = "container text-center">
			<h1 class="text-secondary border border-success border-top-0 border-left-0 border-right-0" th:text="'Entregas del pedido ' + ${pedido.id}"></h1>
		</div>
		<div class ="container">
			<table class="table table-striped table-bordered">
				<thead class="thead-inverse thead-dark">
					<tr>
						<th>ID</th>
						<th>Fecha de entrega</th>
						<th>Hora de entrega</th>
						<th>Punto de entrega</th>
						<th>Intentos restantes</th>
						<th>Notas adicionales</th>
						<th>Estado</th>
						<th>Pedido</th>
						<th>Cambiar</th>
						<!-- <th>Eliminar</th> -->
					</tr>
				</thead>
				<tbody>
					<tr th:each="e : ${listaEntregas}">
						<td th:text="${e.id}"></td>
						<td th:text="${e.fechaEntrega}"></td>
						<td th:text="${e.horaEntrega}"></td>
						<td th:text="${e.puntoEntrega}"></td>
						<td th:text="${e.intentos}"></td>
						<td th:text="${e.notasAdicionales}"></td>
						
						<td th:if="${e.estado} == 1">Por entregar</td>
						<td th:if="${e.estado} == 2">Completado</td>
						<td th:if="${e.estado} == 3">Cancelado</td>
						
						<td th:text="${e.pedido?.id}"></td>
						<td>
							<span th:if="${e.intentos <= 0}">No se puede cambiar</span>
							<a th:if="${e.intentos > 0}" class="btn btn-success btn-sm"
								th:href="@{/entrega/reemplazar/} + ${pedido.id}" th:text="'Nuevo intento'"></a>
						</td>
						<!-- <td><a class="btn btn-danger btn-xs"
							th:href="@{/entrega/eliminar/} + ${e.id}" th:text="'Eliminar'"
							onclick="return confirm('¿Estás seguro que deseas eliminar la entrega?');"></a></td> -->
					</tr>
					<tr th:each="e2 : ${historial}">
						<td th:text="${e2.id}"></td>
						<td th:text="${e2.fechaEntrega}"></td>
						<td th:text="${e2.horaEntrega}"></td>
						<td th:text="${e2.puntoEntrega}"></td>
						<td th:text="${e2.intentos}"></td>
						<td th:text="${e2.notasAdicionales}"></td>
						
						<td th:if="${e2.estado} == 1">Por entregar</td>
						<td th:if="${e2.estado} == 2">Completado</td>
						<td th:if="${e2.estado} == 3">Cancelado</td>
						
						<td th:text="${e2.pedido2?.id}"></td>
						<td>
							<span>No se puede cambiar</span>
						</td>
				</tbody>
			</table>
		</div>
	</body>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" 
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" 
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
		crossorigin="anonymous"></script>
</html>