<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Clientes</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	</head>
	<body>
		<nav th:replace="menu-nav :: menuNavegacion"></nav>
		<div class = "container text-center">
			<h1 class="text-secondary border border-success border-top-0 border-left-0 border-right-0">Lista de clientes</h1>
			<a class="btn btn-success btn-xs" th:href="@{/cliente/crear}">Registrar	cliente</a>
			<hr>
		</div>
		<div class ="container">
			<table class="table table-striped table-bordered">
				<thead class="thead-inverse thead-dark">
					<tr>
						<th>ID</th>
						<th>Nombre</th>
						<th>Apellido paterno</th>
						<th>Apellido materno</th>
						<th>Correo</th>
						<th>Nombre de usuario</th>
						<th>Fecha de Registro</th>
						<th>Pedidos</th>
						<th>Editar</th>
						<th>Eliminar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="c : ${listaClientes}">
						<td th:text="${c.id}"></td>
						<td th:text="${c.nombre}"></td>
						<td th:text="${c.appaterno}"></td>
						<td th:text="${c.apmaterno}"></td>
						<td th:text="${c.correo}"></td>
						<td th:text="${c.username}"></td>
						<td th:text="${c.fechaRegistro}"></td>
						<td>
							<span th:if="${c.pedidos.size() == 0}" th:text="'Sin pedidos'"></span>
							<a th:if="${c.pedidos.size() > 0}" class="btn btn-info btn-sm"
								th:href="@{/cliente/pedidos/} + ${c.id}"
								th:text="'Ver pedidos'"></a>
							<hr>
							<a class="btn btn-success btn-sm" th:href="@{/pedido/crear/} + ${c.id}" th:text="'Nuevo Pedido'"></a>
						</td>
						<td><a class="btn btn-primary btn-xs"
							th:href="@{/cliente/editar/} + ${c.id}" th:text="'Editar'"></a></td>
						<td><a class="btn btn-danger btn-xs"
							th:href="@{/cliente/eliminar/} + ${c.id}" th:text="'Eliminar'"
							onclick="return confirm('¿Estás seguro que deseas eliminar el cliente?');"></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>