<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Cliente-Pedidos</title>
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
			integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" 
			crossorigin="anonymous">
	</head>
	<body>
		<nav th:replace="menu-nav :: menuNavegacion"></nav>
		<div class = "container text-center">
			<h1 class="text-secondary border border-success border-top-0 border-left-0 border-right-0" th:text="'Pedidos de ' + ${cliente.username}"></h1>
		</div>
		<div class="container">
			<table class="table table-striped table-bordered">
				<thead class="thead-inverse thead-dark">
					<tr>
						<th>ID</th>
						<th>Fecha del pedido</th>
						<th>Hora del pedido</th>
						<th>Estado</th>
						<th>Cliente</th>
						<th>Total</th>
						<th>Información adicional</th>
						<th>Pago</th>
						<th>Entrega</th>
						<!-- -<th>Editar</th> -->
						<th>Eliminar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="p : ${listaPedidos}">
						<td th:text="${p.id}"></td>
						<td th:text="${p.fechaPedido}"></td>
						<td th:text="${p.horaPedido}"></td>
						
						<td th:if="${p.estado} == 1">Por entregar</td>
						<td th:if="${p.estado} == 2">Completado</td>
						<td th:if="${p.estado} == 3">Cancelado</td>
						<td th:if="${p.estado} == 4">Pendiente de pago</td>
						
						<td th:text="${p.cliente?.nombre}"></td>
						<td th:text="${p.totalPagar}"></td>
						<td th:text="${p.infoAdicional}"></td>
						<td>
							<a th:if="${p.pago} != null" class="btn btn-info btn-sm" 
								th:href="@{/pedido/pago/} + ${p.pago?.id}" th:text="'Ver pago'"></a>
							<a th:if="${p.pago} == null" class="btn btn-success btn-sm"
								th:href="@{/pago/crear/} + ${p.id}" th:text="'Pagar'"></a>
						</td>
						<td>
							<a class="btn btn-info btn-sm" th:if="${p.entrega} != null"
								th:href="@{/pedido/entregas/} + ${p.id}" th:text="'Ver entregas'"></a>
							<a th:if="${p.entrega} == null" class="btn btn-success btn-sm"
								th:href="@{/entrega/crear/} + ${p.id}" th:text="'Definir entrega'"></a>
						</td>
								
						<!-- <td><a class="btn btn-primary btn-xs"
							th:href="@{/pedido/editar/} + ${p.id}" th:text="'Editar'"></a></td>  -->
						<td>
							<a class="btn btn-danger btn-xs" th:if="${p.estado} == 3"
								th:href="@{/pedido/eliminar/} + ${p.id}" th:text="'Eliminar'"
								onclick="return confirm('¿Estás seguro que deseas eliiminar el pedido?');"></a>
							<span th:if="${p.estado} != 3">No se puede eliminar</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" 
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" 
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
		crossorigin="anonymous"></script>
</html>